div{
    width: 800px;
    height: 600px;
    text-align:left;
}
#header{
    width: 800px;
    height: 130px;
    background-color: orange;
    text-align:left;
}
#nav{
    width: 800px;
    height: 20px;
    background-color: deeppink;
    text-align:left;
    margin-top:5px;
}
#navd{
    width: 800px;
    height: 310px;
}
#aside{
    float:left;
    width: 245px;
    height: 300px;
    background-color: pink;
    text-align:left;
    margin-top:5px;
    margin-right: 5px;
}
#article{
    float:right;
    width: 550px;
    height: 300px;
    background-color: deepskyblue;
    text-align:left;
    margin-top:5px;
}
#section{
    float:center;
    position:relative;
    bottom: -170px;
    width: 540px;
    height: 95px;
    background-color: yellow;
    text-align:left;
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
}
#footer{
    width: 800px;
    height: 130px;
    background-color: darkseagreen;
    text-align:left;
}